$primary_color: #f6955d;
$secondary_color: #0a173c;
$text_color: #0a173c;
$yellow_color: #fcea76;
$black_color: #282f2a;
$dark_color: #1a2234;
$dark_section_bg: #1f1f20;
$silver_color: #818181;
$white_color: #ffffff;
$body_bg: #ffffff;
$input_color: rgba(27, 31, 33, 0.5);
$gradient_color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
$border_color: rgba($black_color, 0.1);
